/*Aplica a todo el documento*/
*{
	margin: 0;
	padding: 0;
	text-align: center;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;/* cursor*/
   
}
#encabezado{
    background-image: url(http://infoblancosobrenegro.com/media/W1siZiIsIm5vdGljaWFzLzIzMTUxL2ZvdG8tNTU0MC5qcGVnIl1d/perros-y-gatos.jpg?sha=aedd8f72d1365573);
    height: 270px;
    /* width: 00px; */
    background-repeat: no-repeat;
    margin: 10px 200px 10px 200px;
    padding: 0px;
    background-size: inherit;
    background-position-x: center;
    background-position-y: center;
}
.rotar{
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    height: 20px;
    width: 25px;
    text-align: unset;
    margin-left: 770px;
    font-size: 52px;
}
#pantalla1{
    
    }
.hide {
        display: none;
}  
.cuadroDeTexto{
    border-radius: 25px;
    height: 50px;
    width: 300px;
    border: none;
    background-color: #e3e4db;
    outline: none;
    margin: 0px;
    font-size: 30px;
    margin-right: auto;
    margin-left: 200px;
}
.buttonIngresar {
    height: 50px;
    width: 180px;
    border: none;
    background-color: #4abdac;
    border-radius: 25px;
    outline: none;
    display: block;
    font-size: 30px;
    color: #ffffff;
    margin: 30px 0px 30px 550px;
}
#error{
    font-size: 20px;
    color: #f60000;
}
.parte1{
    width: 60%;
}
.parte2{
    width: 40%;
}
.cuadroDeTexto1{
    border-radius: 25px;
    height: 50px;
    width: 300px;
    border: none;
    background-color: #e3e4db;
    outline: none;
    margin: 0px;
    font-size: 20px;
}
.cuadroDeTexto2{
    border-radius: 25px;
    height: 50px;
    width: 300px;
    border: none;
    background-color: #e3e4db;
    outline: none;
    font-size: 20px;
    margin-top: 40px;
}

#pantalla2{
    background-size: 100%;
}   
hr{
    height: 10px;
    background-color: rgb(9, 97, 100);
}
#contenedor{
	margin: auto;
}
.intro{
    margin: 20px 0 20px 0;
    display: block;
    color: grey;
    font-weight: 700;
    font-size: 21px;
}

.buttonCodificar{
    height: 50px;
    width: 180px;
    border: none;
    background-color: #4abdac;
    border-radius: 25px;
    outline: none;
    display: block;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    color: #ffffff;
}
.buttonDecodificar{
    height: 50px;
    width: 180px;
    border: none;
    background-color: #4abdac;
    border-radius: 25px;
    outline: none;
    display: block;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    color: #ffffff;
}
.buttonBorrar {
    height: 50px;
    width: 180px;
    border: none;
    background-color: #4abdac;
    border-radius: 25px;
    outline: none;
    display: block;
    font-size: 30px;
    color: #ffffff; 
    margin: 20px 0px 20px 550px;
 }
.cuadroDeTexto3{
    border-radius: 25px;
    height: 60px;
    width: 500px;
    border: none;
    background-color: #e6cd44;
    outline: none;
    margin: 0px 0px 50px 0px;
    font-size: 20px;
}
.iconoUsuario{
    background-image: url('https://img.icons8.com/android/420/user.png');
    width: 150%;
}
.bloquearriba{
    display: -webkit-inline-box;
    margin: 20px 0px;
}
.codificar-decodificar{
    display: inline-flex;
}
.desplazamiento{
    font-size: 30px;

}
footer{
    font-weight: 200;
    margin: 0px 0px 0px 0px;
}